/* *********************************
 *  TEMP / FPO
 */
footer .social img {
	vertical-align: text-bottom;
}

/* *********************************
 *  jQuery Mobile Overrides
 */

.ui-page {
	/* http://blogs.bytecode.com.au/glen/2011/07/14/eliminating-annoying-flicker-transitions-with.html */
    -webkit-backface-visibility: hidden;
}
.ui-content {
	padding: 0px;
}
.ui-body-c, .ui-overlay-c {
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.ui-btn-up-c {
    background: rgb(71,181,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(71,181,224,1) 0%, rgba(58,149,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,181,224,1)), color-stop(100%,rgba(58,149,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(71,181,224,1) 0%,rgba(58,149,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(71,181,224,1) 0%,rgba(58,149,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(71,181,224,1) 0%,rgba(58,149,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(71,181,224,1) 0%,rgba(58,149,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b5e0', endColorstr='#3a95d9',GradientType=0 ); /* IE6-9 */

    border: 1px solid #CCCCCC;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
}
.ui-btn-up-c * {
	color: #fff;
}
.ui-btn-hover-c {
    background: rgb(58,149,217);
    color: white;
    text-shadow: none;
}
.ui-btn-hover-c * {
    color: white;
}
.ui-shadow {
	/*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
}
.ui-btn-corner-all {
	border-radius: 0.75em;
}
.ui-btn-text {
	font-size: 1.3em;
}
.ui-bar-a {
	border: none;
}
.ui-collapsible-set {
	margin: 0 0.5em;
}
.ui-collapsible-content {
	padding: 0;
}
.ui-select .ui-btn-inner {
	border: 1px solid #aaa;
	border-color: #aaaaaa;
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 4px 0px inset
}
.ui-select .ui-btn-text {
	text-align: left;
}
.ui-btn-active {
	border: 0px solid #aaa;
	border-color: #aaaaaa;
	box-shadow: none;
	background: transparent;
	font-weight: normal;
}
input.ui-input-text, 
textarea.ui-input-text {
	width: 99;
}
input.ui-input-text, 
textarea.ui-input-text {
	margin-top: 5px;
        height: auto;
        max-height: 100%;
      /*  padding-bottom: 20%;*/
        font-size: 14px;
        font-family: sans-serif;
}
label.ui-input-text,
label.ui-select {
	font-size: 13px;
}
.ui-checkbox {
	margin-top: 10px;
}
.ui-icon-checkbox-off, 
.ui-icon-radio-off {
	background-color: #e2e2e2;
}
.ui-body-a, 
.ui-overlay-a {
	background-color: #3896D4;
}
.ui-btn {
	margin-top: 20px;
}
.ui-select {
	display: inline;
}

.content .container {
	position: relative;
	border: 1px solid #999999 !important;
	border-radius: 10px;
	overflow: hidden;
	-moz-background-clip: content;     /* Firefox 3.6 */
	-webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

/* These prevent the inner LI's from bleeding over the container's rounded corners */
.content .container li:first-of-type {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.content .container li:last-of-type {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* *********************************
 *  Elements
 */
* {
	box-sizing: border-box;
	color: #666666;
	text-shadow: none;
}

body {
	background-color: #fff;
}

p {
	text-align: left;
	margin: 0;
	padding: 0 0 10px 0;
}

a {
	text-decoration: none;
}

textarea {
	overflow: hidden;
}

dt {
	font-weight: 900;
}
dd {
	margin: 0 0 0 0;
	clear: both;
}

/* *********************************
 *  IDs & Classes
 */
#main {
	margin-bottom: 0px;
}

/* *********************************
 *  Homepage Hero
 */
.hero {
	position: relative;
}
.hero .mainlogo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}
.hero .mainlogo img {
	width: 35%;
}

/* *********************************
 *  Common Header
 */
header.condensed {
	background: url("/assets/img/logo_small.png") no-repeat #3896D4;
	background-size: contain;
	height: 36px;
}

/* *********************************
 *  Other
 */
section.content {
	padding: 10px;
}

footer {
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #e6e6e6 68%, #c7c7c7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(68%,#e6e6e6), color-stop(100%,#c7c7c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#e6e6e6 68%,#c7c7c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e6e6 0%,#e6e6e6 68%,#c7c7c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#e6e6e6 68%,#c7c7c7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6e6e6 0%,#e6e6e6 68%,#c7c7c7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */
	padding: 10px 15px;
}
footer .social {
 	text-align: center;
 	color: #999;
 	font-weight: bold;
 	margin-bottom: 10px;
 	font-size: 1.2em;
	padding-top: 3px;
}


/* *********************************
 *  Link List
 */
.links {
	width: 100%;
	overflow: hidden;
}
.links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.links ul li {
	float: left;
	margin-right: 10px;
}
.links ul li:last-of-type {
	margin-right: 0;
}

/* *********************************
 *  Link List - Centered
 */
.links.centered ul {
	left: 50%;
	float: left;
	position: relative;
}

.links.centered ul li {
	position: relative;
	right: 50%;
}

/* *********************************
 *  Link List - Header
 */
header .links {
	width: auto;
	float: right;
	height: 36px;
	position: absolute;
	bottom: -10px;
	right: 10px;
}
header .links *,
.ui-body-c header .ui-link:visited {
	color: #fff;
	text-shadow: none;
	font-size: 0.95em;
}

.ui-body-c footer .ui-link,
.ui-body-c footer .ui-link:visited,
footer .links li {
	color: #999;
	text-decoration: none;
	font-weight: 400;
	font-size: 0.95em;
}

.gradient {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(233,233,233,0) 50px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(50px,rgba(233,233,233,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(233,233,233,0) 50px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(233,233,233,0) 50px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(233,233,233,0) 50px); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(233,233,233,0) 50px); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#00e9e9e9',GradientType=0 ); /* IE6-8 */
}

.ie9 .gradient {
	filter: none;
}

/* *********************************
 * Carousel
 */
.carousel {
	
}
.carousel .wrapper {
    /*background-color: #292A2B;*/
    float: left;
    overflow: hidden !important;
    position: relative;
    width: 100%;
    z-index: 1;
}
.carousel .scroller {
    float: left;
    padding: 0;
    position: relative;
}
.carousel .scroller ul {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.carousel .scroller li {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.carousel .scroller li img {
    width: 100%;
}
.carousel .carouselNav {
    color: #FFFFFF;
    float: left;
    height: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}
.carousel .prev {
    display: none;
    position: absolute;
    top: 40%;
    z-index: 2;
}
.carousel .prev a {
    background: url("/assets/img/arrows.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 40px;
}
.carousel .next {
    display: none;
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 2;
}
.carousel .next a {
    background: url("/assets/img/arrows.png") no-repeat scroll -40px top transparent;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 40px;
}
.carousel .indicator {
    bottom: 20px;
    display: block;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 2;
}
.carousel .indicator > li {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: left;
    height: 7px;
    list-style: none outside none;
    margin: 0 7px 0 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 7px;
}
.carousel .indicator > li.active {
    background: none repeat scroll 0 0 #888888;
}
.carousel .indicator > li:last-child {
    margin: 0;
}

/* Specific to homepage scroller */
#myScroll.carousel .scroller li .content {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#chat_scroller li {
	width: 100%;
}

.carousel #chat_scroll_wrapper .carouselNav .indicator {
	bottom: auto;
}

/* *********************************
 * Info Bubble
 */
.bubble {
	background: url("/assets/img/orangebubble_03_03.png") center no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
	/*border-radius: 50%;*/
	/*overflow: hidden; This kills the icon */
	padding: 6% 10%;
	text-align: center;
	letter-spacing: 1px;
}
.bubble * {
	color: #fff;
}
.bubble-title {
	font-weight: 900;
	font-size: 1.3em;
	line-height: 1.5em;
}
.bubble-content {
	font-size: 0.7em;
	padding: 6% 10%;
}


.bubble-icon {
	height: 40px;
	width: 50px;
	text-align: center;
	margin: -30px auto -5px 25%;
}


/* *********************************
 * Info Bubble, position & size when in the slide show
 */
#scroller .bubble {
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 50%;
	width: 50%;
}


header .links a:ho_ver {
	padding: 3px;
	background: #404040;
	color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}
header .links a:ho_ver:after {
	content: "";
	border: solid 10px transparent; /* set all borders to 10 pixels width */
	border-top-color: #404040; /* the callout */
	border-bottom: 0; /* we do not need the bottom border in this case */
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
	position: relative;
	bottom: -20px; /* border-width of the :after element + padding of the root element */
	margin: auto;
}

#breadcrumb {
	margin: 5px 0 5px 11px;
}
#breadcrumb.links * {
	color: #3996D4;
}
#breadcrumb.links li {
	margin-right: 5px;
}

#breadcrumb.links li:after {
	content: " \00bb ";
	color: #666666;
}
#breadcrumb.links li:last-child {
	color: #666666;
}
#breadcrumb.links li:last-child:after {
	content: "";
}
#breadcrumb li a {
	font-weight: 400;
}


.hero {
	width: 100%;
}
img.scalable {
	width: 100%;
}
h1.pagetitle {
	margin: 0 0 10px 0;
	color: #3996D4;
}
h1.pagetitle.center {
	text-align: center;
}


/* *********************************
 * Grid, 4-column (used on location detail page)
 */
.grid4 {
	
}
.grid4 .tile {
	float: left;
	position: relative;
	width: 24%;
	text-align: center;
	padding: 1px;
	margin: 0 0 10px 0;
}
.grid4 .caption {
	font-weight: 900;
	font-size: 0.8em;
        height: 20px;
}

/* *********************************
 * Badge. iPhone-like notification icon
 */
.badge {
	border-radius: 10px;
	height: 1.8em;
	min-width: 1.8em;
	line-height: 1.8em;
	font-size: 0.7em;
	font-weight: 700;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #666666;
	color: #fff;
	text-align: center;
	padding: 0 4px;
}
.badge.green {
	background-color: #00a651;
	color: #fff;
}
.badge.orange {
	background-color: #FF6134;
	color: #fff;
}
.badge.red {
	background-color: #f00;
	color: #fff;
}

#chat_scroller .badge {
	font-size: 1em;
	line-height: 1.9em;
	z-index: 9;
	margin: 5px;
}

/* *********************************
 * H3 Modifications
 */
h3 * {
	color: #fff;
}
.h3-sub {
	font-size: 0.8em;
}
.ui-collapsible-heading {
	background-color: #ccc;
}




.chat-icon {
	width: 30%;
	float: right;
}

/* Exmplore removing this */
.rows {
	list-style: none;
	margin: 0;
	padding: 0;
}
.rows li,
.carousel .scroller .rows li {
	padding: 10px;
}
/* End explore remove */

.rows.alternating li:nth-child(odd) {
	background-color: #ffffff;
}
.rows.alternating li:nth-child(even) {
	background-color: #ECF1F5;
	border-top: 1px solid #D6D7D8;
	border-bottom: 1px solid #D6D7D8;
}
.rows .label {
	float: left;
}
.rows .info {
	float: right;
}


.menu-item {
	color: #555555;
	float: left;
	font-size: 1.1em;
}
.menu-item-price {
	float: right;
	color: #6496c8;
	font-size: 1.1em;
}

/* *********************************
 * Chat messaging
 */
[data-template="chat"] section.chat {
	font-size: 1.2em;
}
[data-template="admin-chat"] section.chat {
	padding-top: 30px;
}

[data-template="chat"] section.chat ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
[data-template="chat"] section.chat li {
	padding: 10px;
}
[data-template="chat"] section.chat a {
	display: block;
	margin-bottom: 15px;
}
[data-template="chat"] section.chat a:last-of-type {
	margin-bottom: 0px;
}
[data-template="chat"] .chat .container {
	background-color: #fff;
}


[data-template="chat"] .badge {
	top: 2px;
	right: 2px;
}
[data-template="chat"] .avatar {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 10px 10px 0;
}
[data-template="admin-chat"] .avatar {
	float: left;
	margin: 0 10px 10px 0;
	width: 30px;
}

[data-template="chat"] .username, [data-template="admin-chat"] .username {
	color: #499ddc;
	font-weight: 900;
}
[data-template="chat"] .timestamp, [data-template="admin-chat"] .timestamp {
	color: #b4b3b4;
	font-size: 0.8em;
}
[data-template="chat"] .message, [data-template="admin-chat"] .message {
	clear: both;
	font-size: 0.9em;
	font-weight: 400;
}

[data-template="admin-chat"] footer {
	line-height: 36px;
	font-size: 12px;
}

[data-template="admin-chat"] footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
[data-template="admin-chat"] footer ul li {
	float: left;
	margin-right: 20px;
}
[data-template="admin-chat"] footer ul li a {
	display: block;
	
}
[data-template="admin-chat"] footer .col1 {
	float: left;
	padding-left: 20px;
	text-transform: uppercase;
}
[data-template="admin-chat"] footer .col2 {
	max-width: 50%;
	float: right;
	text-align: right;
	padding-left: 20px;
}
[data-template="admin-chat"] footer .col2 li {
	float: right;
}
form > div {
	text-align: left;
}
form label.ui-input-text,
form label.ui-select {
	margin-top: 10px;
	font-weight: 900;
}



/*	--------------------------------------------------
	Reveal Modals
	http://www.zurb.com/playground/reveal-modal-plugin
	-------------------------------------------------- */
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.6);
		z-index: 2000;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 45px; 
		left: 50%;
                right: 2%;
		margin-left: -48%;
		padding-right: 10px;
		background: #eee url("/assets/img/modal-gloss.png") no-repeat -200px -80px;
		position: absolute;
		z-index: 2001;
		padding: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.8);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.8);
		-box-shadow: 0 0 10px rgba(0,0,0,.8);

		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	/*iPhone*/
	@media only screen and (max-device-width: 480px) {
	    .reveal-modal-bg {
	        height: 99999px !important;
	    }
	}
	
	/*iPad*/
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	    .reveal-modal-bg {
	        height: 99999px !important;
	    }
	}
	.modal {
		cursor: pointer;
	}
	.modal-content {
		
	}
	.modal-title {
		color: #ff6627;
		font-weight: bold;
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	.close-reveal-modal {
		background-image: url("/assets/img/modal-close.png");
		background-size: contain;
		height: 23px;
		width: 23px;
	}
/* End REVEAL */



.cta-blue,
.cta-blue:visited {
	color: #3a95d9;
	font-weight: bold;
	padding-right: 1.3em;
	background: url("/assets/img/cta-blue.png") no-repeat top right transparent;
	background-size: auto 99%;
}
.cta-blue:active {
	
}
.cta-blue-left,
.cta-blue-left:visited {
	color: #3a95d9;
	font-weight: bold;
	padding-left: 1.3em;
	background: url("/assets/img/cta-blue-left.png") no-repeat top left transparent;
	background-size: auto 99%;
	zoom: 1;
}
.cta-blue-left:active {
	
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

* {
	/* Prevent any object from being highlighted upon touch event*/
	-webkit-tap-highlight-color: #3896D4;

}

#active-chats {
	font-size: 16px;
	width: 300px;
	float: left;
	border-right: 1px solid #ccc;
	overflow: auto;
	margin-bottom: 36px;
	position: relative;
	z-index: 5;
}

#active-chats ul {
	margin: 0;
	padding: 0;
}
#active-chats li {
	list-style: none;
	margin: 0;
	padding: 5px 10px;
	border-top: 1px solid #e6e9ed;
	border-bottom: 1px solid #d2d5d8;
	height: auto;
	background-color: #e2e5e8;
	width: 100%;
	cursor: pointer;
}
#active-chats .avatar {
	float: left;
}
#active-chats .avatar img {
	width: 30px;
}
#active-chats .username {
	float: left;
	margin: 8px 0 0 10px;
}
#active-chats .badge {
	float: right;
	margin: 10px 25px 0 0;
}
#chat-details {
	position: absolute;
	left: 300px;
	padding: 0;
	overflow-x: auto;
	color: #767a7e;
}
#chat-details header {
	padding: 0 0 10px 35px;
}
#chat-details .col {
	width: 45%;
	min-width: 300px;
	float: left;
}
#chat-details ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#chat-details label {
	font-weight: 900;
}
#chat-details a {
	color: #3A95D9;
}
.header-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 36px;
	width: 100%;
}
.main-container {
	position: fixed;
	top: 36px;
}

.footer-container {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 36px;
	width: 100%;
	overflow: hidden;
}
footer {
	height: 100%;
	padding: 0;
}


.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.brand {
     background-color: #FFFFFF;
     height: 120px;
     margin-left: auto;
     margin-right: auto;
     padding: 0% 0%;
     text-align: center;
     width: 100%;
}
.brand img {
     border: 0px solid #999999;
     max-height: 120px;
     max-width: 70%;
     height: 70%;

}
.brand-title {
    margin-top: 5px;
    color: #3996D4;
    font-size: 1.3em;
    font-weight: 900;
    line-height: 1.5em;
}
.brand-content {
    font-size: 0.7em;
}

.modal.ui-link {
    color: #ffffff;
    font-weight: bold;
}

.ui-body-c .ui-link {
    color: #ffffff;
    font-weight: bold;
}
